html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  background-image: url(./images/bg-pattern.png);
  padding-top: 50px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.input {
  margin-right: 20px;
  padding: 20px 40px;
  border-radius: 10px;
  outline: none;
  text-align: center;

  font-size: larger;

  color: brown;
}

.listImg {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  scroll-behavior: smooth;
}

.item {
  width: calc((100% - 30px * 3) / 4);

  margin-right: 30px;
  margin-bottom: 30px;
  object-fit: fill;

  box-shadow: 5px 5px 4px 1px rgba(0, 0, 0, 0.3);
}

.item:nth-child(4n) {
  margin-right: 0;
}

.item:nth-last-child(-n + 4) {
  margin-bottom: 0;
}

.item__img {
  width: 100%;
}

.btn {
  padding: 20px 40px;
  border-radius: 30px;
  background: rgba(19, 204, 204, 0.808);
  outline: none;

  font-size: larger;
  cursor: pointer;
}
